* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}


.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    height: 100vh;
}

.two-btn-choice {
    display: flex;
    width: 80%;
    margin-top: 3rem;
    justify-content: space-between;
}

.two-btn-choice2 {
    width: 70%;
}

.btn {
    padding: 15px 10px;
    border: none;
    background-color: #444;
    color: white;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #888;
    cursor: pointer;
}

.top-container {
    margin-bottom: 1.5rem;
}

.bottom-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    background-color: black;
    padding: 10px;
}

.grid-item {
    background-color: gray;
    text-align: center;
    padding: 25px 35px;
    font-size: 30px;
}

.grid-item:hover {
    background-color: lightgray;
    cursor: pointer;
}